<h1>creater</h1>




<p>I am owener of Japan TEC Property and Cleaning Service Ltd.</p>
<p>I would like to update our company's website,so I learn Ruby and Ruby on Rails.</p>
<p>I am still learning Programing. It is hard to study Programing,but it is fun when I am creating web application.</p>

<p>Kind regards</p>

<p>S.Nishijima   July 2020 in London</p>



